# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://dmsensdlmoruqwjgauzt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtc2Vuc2RsbW9ydXF3amdhdXp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxOTIwNTUsImV4cCI6MjEwMzc2ODA1NX0.dQ_GH8dankIy1n9i8K0UmS_0PYDFqmYy2TEWH2BJd1I
