# Supabase Auth & Database Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dmsensdlmoruqwjgauzt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtc2Vuc2RsbW9ydXF3amdhdXp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxOTIwNTUsImV4cCI6MjEwMzc2ODA1NX0.dQ_GH8dankIy1n9i8K0UmS_0PYDFqmYy2TEWH2BJd1I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtc2Vuc2RsbW9ydXF3amdhdXp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE5MjA1NSwiZXhwIjoyMTAzNzY4MDU1fQ.sS53GroCIER2nxz5CEa1eqj7HBfoWcQxUmWbXAJwWX0

# Groq AI Evaluation Engine
GROQ_API_KEY=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

# Public Application Base URL
NEXT_PUBLIC_APP_URL=https://staqor.vercel.app/
